In [10]:
import os
import csv
from collections import defaultdict
import pandas as pd

with open('employee_data1.csv', 'r') as myfile:
    data=myfile.read()
     
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'}

pb = pd.read_csv('employee_data1.csv')

pb['abb_state'] = pb['State'].map(lambda x: us_state_abbrev.get(x))

def transform_date(in_val):
    year, month, day  = in_val.split("-")
    return "{}/{}/{}".format(month, day, year)

pb['dob_2'] = pb['DOB'].map(transform_date)
pb['hidden_SSN'] = pb['SSN'].map(lambda x: "***-**" + x[-5:])
pb.head(5)

pb1 = pb[['Emp ID', 'Name', 'dob_2', 'hidden_SSN', 'abb_state']]
print(pb1)

     Emp ID               Name       dob_2   hidden_SSN abb_state
0       214      Sarah Simpson  12/04/1985  ***-**-8166        FL
1        15      Samantha Lara  09/08/1993  ***-**-7526        CO
2       411      Stacy Charles  12/20/1957  ***-**-8526        PA
3       166       Michelle Roy  07/29/1978  ***-**-3944        MI
4        39      Joseph Rogers  03/28/1985  ***-**-3515        MN
5       423        Erica Hines  10/13/1975  ***-**-6153        NY
6       192          Zoe Patel  12/20/1967  ***-**-0817        WI
7       162     Matthew Harvey  01/20/1990  ***-**-0346        TN
8       131        Shawn Davis  07/21/1961  ***-**-1581        WV
9        20      April Baldwin  08/07/1961  ***-**-2014        MO
10      246    Vincent Daniels  01/06/1972  ***-**-2754        MT
11      525         Ann Fields  08/22/1960  ***-**-7911        IA
12      392    Jeffrey Pearson  05/05/1979  ***-**-2578        IL
13      474    Heather Johnson  09/23/1989  ***-**-0904        GA
14      478   Melissa Fletcher  03/14/1979  ***-**-6881        RI
15      101   Kimberly Alvarez  09/04/1984  ***-**-8680        LA
16       52     Monica Jimenez  04/08/1988  ***-**-1668        ND
17      182     Steven Johnson  05/28/1962  ***-**-7070        NE
18      637         Sarah Wood  06/15/1972  ***-**-6715        FL
19      510     Jesus Petersen  03/28/1958  ***-**-0770        OK
20      122     Rhonda Rosales  04/10/1963  ***-**-0286        AL
21      294  Nicole Richardson  09/09/1981  ***-**-5228        LA
22      327    Jennifer Mendez  07/20/1977  ***-**-1994        OR
23      145       Sandra Petty  01/30/1981  ***-**-7629        NC
24      565     Michael Hester  04/13/1987  ***-**-6836        SD
25      590       Joseph Brown  08/28/1982  ***-**-4744        NH
26      340    Michelle Cooper  08/23/1993  ***-**-2306        WA
27      176       Barbara Wise  12/15/1991  ***-**-7662        IN
28       63      Carol Rosales  07/20/1984  ***-**-4907        NJ
29      121         Mark Villa  02/24/1969  ***-**-2207        MS
..      ...                ...         ...          ...       ...
620     124        Maria Burns  11/24/1979  ***-**-9488        WV
621       8        Kevin Riley  09/05/1962  ***-**-5605        WV
622     251        Brian Reyes  07/15/1962  ***-**-0510        WV
623     643   Jeffrey Robinson  06/21/1958  ***-**-6490        MO
624     238      David Gardner  09/05/1961  ***-**-8396        FL
625     303       Tracey Downs  02/28/1974  ***-**-4596        NM
626     519       Cody Ramirez  10/15/1982  ***-**-7950        LA
627     178       Heather Gray  05/09/1981  ***-**-6848        KS
628     458        Erika Lewis  02/15/1960  ***-**-9111        CO
629     207     Ronald Maynard  11/22/1978  ***-**-9020        KY
630     598    Ashley Saunders  06/11/1991  ***-**-5309        GA
631     352       Paul Kaufman  11/02/1978  ***-**-0964        IA
632     645     Nathan Rosario  06/15/1964  ***-**-5027        NY
633     146     Melissa Nguyen  10/06/1978  ***-**-1193        MN
634      51      Mitchell Gill  07/27/1989  ***-**-7598        KY
635     512       Michael Shaw  04/18/1977  ***-**-8249        OR
636     467      Crystal Jones  12/20/1972  ***-**-8160        MD
637     179   Jasmine Harrison  12/04/1957  ***-**-0602        WV
638      54        Chase Grant  05/04/1985  ***-**-1229        KS
639     570         Shawn Kidd  04/10/1961  ***-**-4240        MN
640     527     Chris Robinson  01/24/1970  ***-**-1013        SC
641     288        Carla Smith  05/05/1969  ***-**-6182        AL
642     382     Kimberly Burns  01/30/1985  ***-**-5610        CA
643     408      Lori Sullivan  10/05/1992  ***-**-4062        NY
644     147  Jennifer Williams  02/25/1994  ***-**-7025        ME
645     198          John Lamb  03/09/1986  ***-**-1494        CO
646     194        Joanne Lamb  06/28/1974  ***-**-6922        LA
647     206        David Brown  12/27/1978  ***-**-4274        DE
648      76        Scott Leach  04/03/1985  ***-**-5144        AR
649     432       Andrew Tyler  04/08/1970  ***-**-3511        IA

[650 rows x 5 columns]